<div class="container py-4 px-3 mx-auto" style="min-height: 800px;">

  <header class="d-flex justify-content-between align-items-md-center pb-3 mb-4 border-bottom">
    <h1 class="h4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <i class="bi bi-dice-5-fill me-2"></i>
        <span>Forbidden Psalm - Générateur de combattants</span>
      </a>
    </h1>
    <a href="https://gregauryc.com/wp-content/uploads/2023/08/Generateur-de-combattants-V3.pdf" target="_blank" rel="noopener" title="PDF de la Table des caractéristiques chez Gregauryc" class="d-print-none">
      <i class="bi bi-filetype-pdf me-1"></i>Table des caractéristiques      
    </a>
  </header>

  <div class="d-print-none border-bottom mb-5">
    <div class="col-lg-8">
      <p class="lead">
        Générateur aléatoire d'apparence physique pour des combattants de <em>Forbidden&nbsp;Psalm</em>, 
        tel que décrit dans le <a href="https://gregauryc.com/defi-forbidden-psalm/" target="_blank" rel="noopener">défi proposé par l'équipe de traduction FR</a> 
        et disponible chez <a href="https://gregauryc.com/" target="_blank" rel="noopener">Gregauryc</a>.
      </p>
      <p class="small">
        <em>NB : Se base sur la version <u>avancée</u> du générateur.</em>
      </p>
    </div>
  </div>

  <app-team></app-team>

</div>

<div class="container d-print-none">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top">
    <div class="col-md-4 d-flex align-items-center small">
      <span class="mb-3 mb-md-0 text-body-secondary">2023 - by <a href="https://blog.akewea.com/" target="_blank" rel="noopener">Akewea</a></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com/akewea" target="_blank" rel="noopener"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://gitlab.com/damien-hazard" target="_blank" rel="noopener"><i class="bi bi-git"></i></a></li>
    </ul>
  </footer>
</div>