
<div class="d-flex justify-content-end">
    <div class="flex-grow-1">
        <h3>Bande de combattants :</h3>
    </div>

    <div class="btn-group d-print-none" role="group">
        <button (click)="addWarrior(false)" class="btn btn-primary" [disabled]="team.length >= 5">
            <i class="bi bi-plus me-2"></i>Ajouter un combattant
        </button>

        <div ngbDropdown class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" [disabled]="hasSorcerer()" aria-expanded="false" ngbDropdownToggle></button>
            <ul ngbDropdownMenu >
                <li ngbDropdownMenuItem><a class="dropdown-item" href="#" (click)="addWarrior(true)">Lanceur de sorts</a></li>
            </ul>
        </div>

        <button (click)="reset()" class="btn btn-outline-secondary" [disabled]="team.length < 1">
            <i class="bi bi-arrow-counterclockwise"></i> Recommencer
        </button>
    </div>

    <button (click)="print()" class="btn btn-link d-print-none" [disabled]="team.length < 1">
        <i class="bi bi-printer me-2"></i>Imprimer
    </button>
    <button (click)="export()" class="btn btn-link d-print-none" [disabled]="team.length < 1">
        <i class="bi bi-filetype-csv me-2"></i>Exporter
    </button>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" *ngFor="let carac of caracs">{{ carac.label }}</th>
            <th scope="col" class="d-print-none"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let warrior of team; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td *ngFor="let carac of caracs;">
				{{ getLabel(carac.name, warrior[carac.name]) || '-' }}
			</td>
            <td class="d-print-none">
                <button class="btn btn-secondary btn-sm" (click)="removeWarrior(warrior)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-end" [ngClass]="{ 'display-none' : team.length < 1 }">
    généré le {{ generatedAt | date:'dd/MM/yyyy à hh:mm':'CET' }}
</div>